

<body>

<h1>{{title}}</h1>
<mat-form-field class="drop" appearance="fill">
    <mat-label >Select an option</mat-label>
    <mat-select  [(value)]="schoolSelected" [(ngModel)]="schoolSelected">
      <mat-option  class="drop-content"*ngFor="let s of schoolList" [value]="s.name" >
        {{s.name}} {{s.location}}
        </mat-option>
      
    </mat-select>
  </mat-form-field>


 <div *ngFor="let schoolInfo of schoolDetails">
 <div *ngIf="schoolSelected==schoolInfo.name">
  <p>Selected School name:{{schoolSelected}}</p>
 <mat-card class="example-card mat-elevation-z8">
    <mat-card-content class="details">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-12" style="text-align: center;">
            <b><div> {{schoolInfo.name}}</div></b>
            
            <div > {{schoolInfo.address}}</div>
           
            <div>{{schoolInfo.city}} , {{schoolInfo.state}}</div>
          </div>
          <div class="col-sm-12" style="text-align: right;">
            <div style="font-style:italic;">Email:{{schoolInfo.email}}</div>
            <div style="font-style:oblique;">Phone:{{schoolInfo.phone}}</div>
          </div>
          <div class="col-sm-12" style="text-align: left;">
            <b><div >Headmaster:{{schoolInfo.pname}}</div></b>
            <div  style="font-style:italic;">{{schoolInfo.pgmail}}</div>  
             
            <div style="font-style:oblique;"> {{schoolInfo.pmobile}}</div>
          </div>
        </div>
      </div>
       
            
            
            
           
    </mat-card-content>

    
  </mat-card>


<mat-form-field class="drop" appearance="fill">
    <mat-label>Attendance</mat-label>
    <mat-select [(value)]="attendanceSelected" [(ngModel)]="attendanceSelected">
      <mat-option>Select class</mat-option>
      <ng-container *ngFor="let s of attendanceDetails">
        <mat-option *ngIf="schoolSelected==s.aname" [value]="s.std" >
          {{s.std}}
          </mat-option>
        </ng-container>  
        
      </mat-select>
      
    </mat-form-field>
    <mat-form-field class="drop" appearance="fill">
      <mat-label>Student Details</mat-label>
      <mat-select [(value)]="studentSelected" [(ngModel)]="studentSelected">
        <mat-option>Select class</mat-option>
          <ng-container *ngFor="let s of studentDetails">
            <mat-option *ngIf="schoolSelected==s.aname" [value]="s.std" >
              {{s.std}}
              </mat-option>
            </ng-container>  
            
          </mat-select>
          
        </mat-form-field>
    <ng-container *ngIf="attendanceSelected">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let head of tableheadAttendance" scope="col">{{head}} </th>
        </tr>
      </thead>
    </table>
      </ng-container>
  
      <table class="table table-striped">
      <tbody>
      <ng-container *ngFor="let s of studentdetails">
        <tr *ngIf="attendanceSelected==s.class && schoolSelected==s.sname">
          <!-- <td>{{i+1}}</td> -->
          <td>{{s.rollNo}}</td>
          <td>{{s.name}}</td>
          <td>{{s.tnwd}}</td>
          <td>{{s.dp}}</td>
          <td>{{s.da}}</td>
          <td>{{s.remark}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
      
    <ng-container *ngIf="studentSelected">
      <table class="table table-striped">
        <thead>
          <tr>
            <th *ngFor="let head of tableheadStudent" scope="col">{{head}} </th>
          </tr>
        </thead>
      </table>
        </ng-container>
    
        <table class="table table-striped">
        <tbody>
        <ng-container *ngFor="let s of studentdetails">
          <tr *ngIf="studentSelected==s.class && schoolSelected==s.sname">
            <!-- <td>{{i+1}}</td> -->
            <td>{{s.rollNo}}</td>
            <td>{{s.name}}</td>
            <td>{{s.dob}}</td>
            <td>{{s.blood}}</td>
            <td>{{s.contactNum}}</td>
            <td>{{s.address}}</td>
            
          </tr>
        </ng-container>
        </tbody>
      </table>
  <button mat-button color="primary"  (click)="staffDetails(schoolSelected)">School Staff Details</button>
  <div *ngIf="showStaffs">
  <div *ngFor="let staffInfo of staffTestDetails">
  <div *ngIf="schoolSelected==staffInfo.sName">
  
          <mat-grid-list style="background-color:  rgb(239, 244, 248);color: rgb(114, 66, 104);padding: 10px 50px;"cols="2" rowHeight="20:1">
            
              <div style="font-size:27px">Name :{{staffInfo.name}}</div>
            <div style="font-style:italic;font-size:20px;">Email Id: {{staffInfo.email}}</div>
            <div style="font-style:oblique;font-size:20px;">Contact: {{staffInfo.mobile}}</div>
              
             
            </mat-grid-list>
       
   </div>
  </div>
  </div>
</div>
</div>
</body>
  <!-- Copyright 2019 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
  
