


<div #printThis>
<b><h1>{{schoolOpt}}</h1></b>
<h1>Attendance of {{attendanceOpt}}</h1>
<ng-container *ngFor="let s of staffInfo">
<div *ngIf="s.sName==schoolOpt && s.classIncharge==attendanceOpt">

<p>Staff Incharge:{{s.name}}</p>
   <p> Staff Contact Number:<i>{{s.mobile}}</i></p>
   <p> Staff Email-ID:<i>{{s.email}}</i>
</p>
</div>
</ng-container>


<table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let head of attendanceColumn " scope="col">{{head}} </th>
      </tr>
    </thead>
  
  <tbody>
    <ng-container *ngFor="let s of stuDetails">
      <tr *ngIf="attendanceOpt==s.class && schoolOpt==s.sname">
        
        <td>{{s.rollNo}}</td>
        <td>{{s.name}}</td>
        <td>{{s.tnwd}}</td>
        <td>{{s.dp}}</td>
        <td>{{s.da}}</td>
        <td>{{s.remark}}</td>
      </tr>
    </ng-container>

    </tbody>
    </table>
</div>
   <center> <button class="btn btn-primary"  type="submit" [elementToPrint]="printThis" ngPrint>Print</button></center>